@import "tailwindcss";


body {
    overflow-x: hidden;
    overscroll-behavior-y: none;
}


#terms-page {
    background-image: url('https://storage.123fakturera.se/public/wallpapers/sverige43.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


@theme{
    --color-primary: #0f7ee8;
}
